body{
  font-family: "Times New Roman";
}
h4{
  border:purple 2px dotted;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 40px;
}
p.t{
  text-align: center;
  color: green;
}
p.h{
  height: 80px;
  text-align: left;
  font-size: 40px;
  color: orange;
  vertical-align: bottom;
}
span.d{
  color: red;

}
p.l{
  color:purple;
  text-align: right;
  font-size: 10px;
}
span.g{
  color:yellow;
}
